*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppines',sans-serif;
}
body{
    background-image: url(../clgpic/base.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
            justify-content:center;
            align-items:center;
}
.container
{   display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;   
}
.h{
    color:aquamarine;
}
